.grid-container {
    display: grid;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 15fr));
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.grid-element {
  background-color: #000;
  padding: 0px;
  color: #000;
  border: 1px solid #000;
  margin-bottom: 2em;
}

#P {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

h1 {
	  width: 50%;
	padding: 1em;
	  margin: auto;
  text-align: center;
  font-size: 300%;
  text-shadow: 2px 2px 4px #000000;
  color: #222 !important;
}

body {
	margin: 0px;
}


hr {
  margin: 8px;
}

 /* unvisited link */
a:link {
  color: #aaa;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #666;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

/* selected link */
a:active {
  color: #333;
  text-decoration: none;
}

.title {
	font-family: Georgia, serif;
	padding: 4px;
	color: #222;
}

.grid-element:hover {
    z-index: 50;
    background-image: linear-gradient(to right, #000 0%, #222 100%);
}

.mainbody,
.header,
.footer {
    padding: 0px;
}


.center {
  text-align: center;
  color: black;
}
/* --- Nav bar a la https://ultimatecourses.com/blog/html5-and-jquery-super-simple-drop-down-nav r.i.p. */

/* --- Holy Grail Grid start: --- */



.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}
/* --- ^ End of Holy Grail Grid ^ --- */

body {
  text-align: center;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #999;
}

a {
  color: #999;
}

label {
  cursor: pointer;
}

label, #menu {
  background-color: #111;
  height: 20px;
  width: 200px;
  padding:15px 25px;
  display: inline-block;
}
#sortBy-toggle {
  display: none;
}
#sortBy {
  background-color: #111;
  width: 200px;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
}
#sortBy-toggle:checked + #sortBy {
  max-height: 300px;
}

ul {
  list-style-type: none;
}
