.grid-container {
    display: grid;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 15fr));
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.grid-element {
  background-color: #000;
  padding: 0px;
  color: #000;
  border: 1px solid #000;
  margin-bottom: 2em;
  position:relative;
  height: 350px;
}

#clicks {
  font-size:19px;
  position:absolute;
  margin-right: 10px;
  margin-bottom:10px;
  color:#333;
  bottom:0px;
  right:0px;
}

#username {
  font-family: "Times New Roman", Times, serif;
  position:absolute;
  font-size:19px;
  color:#111;
  bottom:0px;
  left:0px;
  margin-bottom:10px;
  margin-left:10px;
}

#username:hover, #clicks:hover{
  cursor:pointer;
  color:#444;
}

#P {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

h1 {
	  width: 50%;
	padding: 1em;
	  margin: auto;
  text-align: center;
  font-size: 300%;
  text-shadow: 2px 2px 4px #000000;
  top: 33px;
  color: #222 !important;
}

body {
	margin: 0px;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #999;
  background-color: black;
}


hr {
  margin: 8px;
}

 /* unvisited link */
a:link {
  color: #aaa;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #666;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

/* selected link */
a:active {
  color: #333;
  text-decoration: none;
}

.title {
	font-family: Georgia, serif;
	padding: 4px;
	color: #222;
}

.info {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 4px;
	color: #333;
}

.info:hover  {
  cursor: pointer;
	color: #666;
}

.grid-element:hover {
    z-index: 50;
    background-image: linear-gradient(to right, #000 0%, #222 100%);
}

.mainbody,
.header,
.footer {
    padding: 0px;
}


.center {
  text-align: center;
  color: black;
}
/* --- Nav bar a la https://ultimatecourses.com/blog/html5-and-jquery-super-simple-drop-down-nav r.i.p. */

/* --- Holy Grail Grid start: --- */



.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
}
/* --- ^ End of Holy Grail Grid ^ --- */

a {
  color: #aaa;
}

label {
  text-align: left;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: inline-block;
}

#navbar{
  cursor: pointer;
  font-size:40px;
}

#twitch,
#discord,
#youtube,
#psn,
#email,
#twitter{
  cursor: default;
  width: auto;
  font-size:19px;
}

#sortBy-toggle,
#membership-toggle,
#gate-toggle {
  width: auto;
  display: none;
}

#sortBy,
#membership,
#gate {
  text-align: left;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
}

#gate-toggle:checked + #gate,
#membership-toggle:checked + #membership,
#sortBy-toggle:checked + #sortBy {
  max-height: 300px;
  margin-left: 33px;
}


ul {
  list-style-type: none;
  text-align: left;
}

li {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size:20px;
  position: relative;
}
